<article>
	<header>
		<h2>
			<%= @article.title %>
		</h2>
	</header>
	<section>
		<%= raw simple_format(@article.content, {}, :sanitize => true) %>
	</section>
</article>
<% content_for :footer do %>
	<a href="javascript:void(0);" class="edit_page">edit page</a>
	<%=  render 'form_password' %>
<% end %>