<% 
	if @article.isPrivate 
		render 'private'
	else	
%>

<article>
	<header>
		<h1>
			<%= @article.title %>
		</h1>
	</header>
	<section>
		<%= @article.content %>
	</section>
</article>
<% content_for :footer do %>
	<a href="javascript:void(0);" class="edit_page">edit page</a>
	<%= render 'form_password' %>
<% end %>

<% end %>